form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

fieldset {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

input:valid {
    border-color: green;
}

input:not(:placeholder-shown):invalid {
    border-color: red;
}
